<div class="row edit-profile-wrapper">
  <div class="col-sm-3 left-col">
    <div class="list-group">
      <%= link_to "账户信息", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
      <%= link_to "退出", destroy_user_session_path, method: :delete,
        class: "list-group-item list-group-item-action" %>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="row username-img">
        <div class="col-sm-3 text-right">
          <%= image_tag avatar_url(@user), width: '38', height: '38', class: "round-img" %>
        </div>
        <div class="col-sm-9">
          <p><a href="http://gravatar.com/emails" target="_blank">修改头像</a></p>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :name, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :name, autofocus: true, class: "form-control col-sm-9" %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :email, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.email_field :email, class: "form-control col-sm-9" %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :academy, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :academy, class: "form-control col-sm-9" %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :studentid, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :studentid, class: "form-control col-sm-9" %>
        </div>
      </div>
      
      <div class="form-group row">
        <%= f.label :sex, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :sex, class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :wechatid, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :wechatid, class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :phone, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :phone, class: "form-control col-sm-9" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "off", class: "form-control col-sm-9" ,
              placeholder: "不修改则为最初密码" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password_confirmation, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-sm-9" ,
              placeholder: "不修改则为最初密码" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <%= f.submit "保存更改", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
