<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), width: '152', height: '152', class: "round-img" %>
      <div class=stats><%= render 'shared/stats' %></div>
      <% if @user != current_user %>
        <div class="follow_form"><%= render 'follow_form' %></div>
      <% end %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <% if @user.sex == "男" %>
        <%= image_tag 'man.png' , width: '30', height: '30' %>
      <% elsif @user.sex == "女" %>
        <%= image_tag 'woman.png' , width: '30', height: '30' %>
      <% end %>
      <p class="username"><%= @user.name %></p>
      <% if @user == current_user %>
        <%= link_to "完善资料", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
      <% end %>
    </div>
    <div class="row-email">
      <p class="email"><%= image_tag 'email.png' , width: '30', height: '30' %>：<%= @user.email %></p>
    </div>
    <div class="row-academy">
      <p class="academy"><%= image_tag 'academy.png' , width: '30', height: '30' %>：<%= @user.academy %></p>
    </div>
    <div class="row-phone">
      <p class="phone"><%= image_tag 'phone.png' , width: '30', height: '30' %>：<%= @user.phone %></p>
    </div>
    <div class="row-wechatid">
      <p class="wechatid"><%= image_tag 'wechat.png' , width: '30', height: '30' %>：<%= @user.wechatid %></p>
    </div>
  </div>
  
  <div class="profile-tab">
    <% if @user == current_user %>
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">已发布</a>
        <a class="nav-item nav-link" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">已收藏</a>
        <a class="nav-item nav-link" id="nav-likes-tab" data-toggle="tab" href="#nav-likes" role="tab" aria-controls="nav-likes" aria-selected="false">已点赞</a>
      </div>
    </nav>
    <% end %>
    <div class="tab-content pb-3" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
        <div class="row">
          <%= render "post", {posts: @posts} %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
        <div class="row">
          <%= render "post", {posts: @saved} if @user == current_user %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-likes" role="tabpanel" aria-labelledby="nav-likes-tab">
        <div class="row">
          <%= render "post", {posts: @liked} if @user == current_user %>
        </div>
      </div>
    </div>
  </div>
</div>
